:root {
  --rc-llm-skeleton-color: rgba(190, 190, 190, 0.2);
  --rc-llm-skeleton-highlight: rgba(255, 255, 255, 0.5);
}

.rc-llm-skeleton {
  display: inline-block;
  width: 100%;
  height: 16px;
  background-color: var(--rc-llm-skeleton-color);
  position: relative;
  overflow: hidden;
}

.rc-llm-skeleton-active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    var(--rc-llm-skeleton-color) 25%,
    var(--rc-llm-skeleton-highlight) 37%,
    var(--rc-llm-skeleton-color) 63%
  );
  animation: rc-llm-skeleton-loading 1.4s ease infinite;
  background-size: 400% 100%;
}

@keyframes rc-llm-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}